/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  CSS variables
    Color Palette: Tailwind Zinc 

*/
:root {
    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-500: #71717a;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;

    --emerald-700: #047857;
    --orange-700: #c2410c;

    --gameBoardBorder: 5px solid var(--zinc-500);
    --standard-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    --shadow-press-btn: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* Font */
body {
    font-family: 'Roboto', sans-serif;
}

/* Layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

main {
    display: grid;
    grid: 
        [row1-start] "header header header" 1fr [row1-end]
        [row2-start] "game game game" 4fr [row2-end]
        [row3-start] "footer footer footer" 1fr [row3-end]
        / 1fr 1fr 1fr;
    ;

    justify-items: center;
    align-items: center;
    gap: 10px;
    width: 80vw;
    height: 80vh;
} 

h1 {
    grid-area: header;
}

section.board {
    grid-area: game;
    display: grid;
    grid: 
        [row1-start] "spot0 spot1 spot2" 1fr [row1-end]
        [row2-start] "spot3 spot4 spot5" 1fr [row2-end]
        [row3-start] "spot6 spot7 spot8" 1fr [row3-end]
        / 1fr 1fr 1fr;
        
    width: 40%;
    height: 100%;
}

.winning-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.invisible {
    display: none;
}

.spot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#spot-zero {
    grid-area: spot0;  
}

#spot-one {
    grid-area: spot1;   
}

#spot-two {
    grid-area: spot2;
}

#spot-three {
    grid-area: spot3;
}

#spot-four {
    grid-area: spot4;
}
#spot-five {
    grid-area: spot5;
}
#spot-six {
    grid-area: spot6;
}
#spot-seven {
    grid-area: spot7;
}
#spot-eight {
    grid-area: spot8;
}

footer {
    grid-area: footer;
    display: grid;
    grid: 
        [row1-start] "player-one-name player-two-name btn-start" 1fr [row1-end]
        [row2-start] "player-one-btn player-two-btn btn-start" 1fr [row2-end]
        / 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
}

footer p#player-one-name {
    grid-area: player-one-name;
}

footer p#player-two-name {
    grid-area: player-two-name;
}

footer button#btn-start {
    grid-area: btn-start;
}

footer .player-one-btn,
footer .player-two-btn {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 10px;
}

footer .player-one-btn {
    grid-area: player-one-btn;
    grid: 
        [row1-start] "player-one-btn-change player-one-btn-radio" 1fr [row1-end]
        / 1fr 1fr;
}

footer .player-two-btn {
    grid-area: player-two-btn;
    grid: 
        [row1-start] "player-two-btn-change player-two-btn-radio" 1fr [row1-end]
        / 1fr 1fr; 
    
}

footer .player-one-btn #btn-change-name-player-one {
    grid-area: player-one-btn-change;   
    justify-self: flex-end;
}

footer .player-one-btn .btn-radio-player-one {
    grid-area: player-one-btn-radio;
    justify-self: flex-start;
}

footer .player-two-btn #btn-change-name-player-two {
    grid-area: player-two-btn-change;
    justify-self: flex-end;
}

footer .player-two-btn .btn-radio-player-two {
    grid-area: player-two-btn-radio;
    justify-self: flex-start;
}

.btn-start {
    padding: 2rem 4rem;
}

.btn-change {
    padding: 1rem 2rem;
    max-width: 10rem;
    margin: 0 1rem 1rem;
}


/* Style */
body {
    background-color: var(--zinc-50);
}

main {
    background-color: var(--zinc-100);
    box-shadow: var(--standard-shadow);
}

h1 {
    color: var(--zinc-900);
}

.winning-text,
.tie-text {
    font-size: 4rem;
    font-weight: 700;
}

.winning-text {
    color: var(--emerald-700);
}

.tie-text {
    color: var(--orange-700);
}

.restart-msg {
    text-align: center;
    font-weight: 700;
}

label {
    text-align: center;
}

.spot {
    color: var(--zinc-900);
    font-size: 3rem;
}

.spot-right {
    border-right: var(--gameBoardBorder);
}

.spot-left {
    border-left: var(--gameBoardBorder);
}

.spot-bottom {
    border-bottom: var(--gameBoardBorder);
}

footer {
    color: var(--zinc-500);
    font-weight: 700;
    font-size: 1.5rem;
}

.btn {
    background-color: var(--zinc-500);
    color: var(--zinc-50);
    box-shadow: var(--standard-shadow);
    border: none;
    border-radius: 15px;
    font-weight: 700;
}

.btn:hover {
    background-color: var(--zinc-700)
}

.btn:active {
  background-color: var(--zinc-700);
  box-shadow: var(--shadow-press-btn);
  transform: translateY(5px);

}

.btn-start {
    font-size: 1.5rem;
}

input[type="radio"] {
    appearance: none;
}

input[type="radio"]:checked + label {
    color: var(--emerald-700);
    
}
