/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  CSS variables
    Color Palette: Tailwind Zinc 

*/
:root {
    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-500: #71717a;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;

    --emerald-700: #047857;
    --orange-700: #c2410c;

    --gameBoardBorder: 5px solid var(--zinc-500);
}

/* Font */
body {
    font-family: 'Roboto', sans-serif;
}

/* Layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

main {
    display: grid;
    grid: 
        [row1-start] "header" 1fr [row1-end]
        [row2-start] "game" 4fr [row2-end]
        [row3-start] "footer" 1fr [row3-end]
    ;

    justify-items: center;
    align-items: center;
    gap: 10px;
    width: 80vw;
    height: 80vh;
} 

h1 {
    grid-area: header;
}

section.board {
    grid-area: game;
    display: grid;
    grid: 
        [row1-start] "spot0 spot1 spot2" 1fr [row1-end]
        [row2-start] "spot3 spot4 spot5" 1fr [row2-end]
        [row3-start] "spot6 spot7 spot8" 1fr [row3-end]
        / 1fr 1fr 1fr;
        
    width: 40%;
    height: 100%;
}

.winning-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.restart-msg {
    text-align: center;
    font-weight: 700;
}

.invisible {
    display: none;
}

.spot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#spot-zero {
    grid-area: spot0;  
}

#spot-one {
    grid-area: spot1;   
}

#spot-two {
    grid-area: spot2;
}

#spot-three {
    grid-area: spot3;
}

#spot-four {
    grid-area: spot4;
}
#spot-five {
    grid-area: spot5;
}
#spot-six {
    grid-area: spot6;
}
#spot-seven {
    grid-area: spot7;
}
#spot-eight {
    grid-area: spot8;
}

footer {
    grid-area: footer;
}

.score {
    margin: 0 1rem;
}

.separator {
    margin-right: 1rem;
}

/* Style */
body {
    background-color: var(--zinc-50);
}

main {
    background-color: var(--zinc-100);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: var(--zinc-900);
}

.winning-text {
    font-size: 4rem;
    font-weight: 700;
    color: var(--emerald-700);
}

label {
    text-align: center;
}

.spot {
    color: var(--zinc-900);
    font-size: 3rem;
}

.spot-right {
    border-right: var(--gameBoardBorder);
}

.spot-left {
    border-left: var(--gameBoardBorder);
}

.spot-bottom {
    border-bottom: var(--gameBoardBorder);
}

footer {
    color: var(--zinc-500);
    font-weight: 700;
    font-size: 1.5rem;
}

.score {
    font-size: 1.5rem;
    color: var(--zinc-900);
}
